[submodule "Coust/third_party/fmt"]
	path = Coust/third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "Coust/third_party/spdlog"]
	path = Coust/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coust/third_party/doctest"]
	path = Coust/third_party/doctest
	url = https://github.com/doctest/doctest
