[submodule "Coust/third_party/GLFW"]
	path = Coust/third_party/GLFW
	url = https://github.com/glfw/glfw
[submodule "Coust/third_party/spdlog"]
	path = Coust/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Coust/third_party/imgui"]
	path = Coust/third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "Coust/third_party/glm"]
	path = Coust/third_party/glm
	url = https://github.com/g-truc/glm
[submodule "Coust/third_party/volk"]
	path = Coust/third_party/volk
	url = https://github.com/zeux/volk
[submodule "Coust/third_party/vma"]
	path = Coust/third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Coust/third_party/rapidjson"]
	path = Coust/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson/
